@{
	ViewBag.Title = "经验心得";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LocationPath{
	<a class="title" href="/" >Devtext.com</a> » <a href="/experience/">经验心得</a>
}
<div class="left">
	<div class="clear">
	</div>
</div>
<div class="right">
</div>