@{
	ViewBag.Title = "出错了";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LocationPath{
	<a class="title" href="/">Devtext.com</a> » 出错了
}
<div class="login_con">
	<h2>出错了，脑子转不过来了</h2>
</div>