@{
	ViewBag.Title = "Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LocationPath{
	<a class="title" href="/" >Devtext.com</a> » <a href="/question">问答社区</a> » 详细
}
<!-- 2级左边 -->
	<div class="fl l2_left">
		<div class="answer_detail">
			<h1 class="answer_det_title">求关于SNS网站构架的中文或英文文献，英文文献一定不能带翻译</h1>
			<div class="question">
				<div class="answer_title"><span class="color_org font_b"><img src="images/ico_money_big.gif" width="16" height="16" align="absmiddle" />&nbsp;悬赏园豆：120</span>　[待解决问题] 离问题结束还有 <span class="color_blue">29 天 14 小时</span>　浏览:49 次 
</div>
				<div class="question_text">
					<p style="line-height:28px;font-size:14px;">各位高手，<br />
					求关于SNS网站构架的中文或英文文献，英文文献一定不能带翻译，<br />
					用在学校里毕业设计的开题报告，<br />
					各位高手，请多多支持，<br />
					小弟邮箱：<a href="#" style="color:blue">longyun-sly@163.com</a>（发了邮箱的说一下，谢谢了！）
</p>
				</div>
				<div class="answer_tag">
					<span class="fl"><a href="#">sns架构</a><a href="#">文献</a><a href="#">英文</a></span>
					<span class="fr">
						<img src="images/noavatar_small.gif" width="30" height="30" align="left" /><a href="#" class="color_blue">longyun.cui</a><br />浏览(46) 8小时前 
					</span>
				</div>
				<!-- 这里是补充问题 -->
				<div class="supplement">
					<b class="font_size_14">问题补充：</b>
					<div class="question_text">
						<p style="line-height:28px;font-size:14px;">寻找一篇英文原版资料（论文或著作等），然后进行翻译，字数要求：本科学生20000外文印刷字符或5000汉字，注意：不能是有中英文对照的资料。</p>
					</div>
				</div>
				<!-- 补充问题结束 -->
			</div>
			<div class="all_answers">
				<div class="title_gray all_ans_title font_b font_size_14 color_blue">所有回答(2)</div>
				<ul class="all_nas_list" id="all_nas_list">
					<li>
						<div class="all_nas_con">
							<div class="all_ans_text">
								<p style="font-size:14px;">“1”朋友，这个好像没有现成的吧，要自己动手去写写的。</p>
							</div>
							<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
							<!-- 回复（可无限回复） -->
							<div class="all_nas_con">
								<div class="all_ans_text">
									<p style="font-size:14px;">2 回复“1”，这个好像没有现成的吧，要自己动手去写写的。</p>
								</div>
								<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
								<div class="all_nas_con">
									<div class="all_ans_text">
										<p style="font-size:14px;">3 回复“2”，这个好像没有现成的吧，要自己动手去写写的。</p>
									</div>
									<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
								</div>
							</div>
							<div class="all_nas_con">
								<div class="all_ans_text">
									<p style="font-size:14px;">4 回复“1”，这个好像没有现成的吧，要自己动手去写写的。</p>
								</div>
								<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
							</div>
						</div>
					</li>
					<li>
						<div class="all_nas_con">
							<div class="all_ans_text">
								<p style="font-size:14px;">"1"朋友，这个好像没有现成的吧，要自己动手去写写的。</p>
							</div>
							<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
							<div class="all_nas_con">
								<div class="all_ans_text">
									<p style="font-size:14px;">2 回复"1"，这个好像没有现成的吧，要自己动手去写写的。</p>
								</div>
								<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
							</div>
						</div>
					</li>
					<li>
						<div class="all_nas_con">
							<div class="all_ans_text">
								<p style="font-size:14px;">"1"朋友，这个好像没有现成的吧，要自己动手去写写的。</p>
							</div>
							<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
							<div class="all_nas_con">
								<div class="all_ans_text">
									<p style="font-size:14px;">2 回复"1"，这个好像没有现成的吧，要自己动手去写写的。</p>
								</div>
								<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
							</div>
						</div>
					</li>
					<li>
						<div class="all_nas_con">
							<div class="all_ans_text">
								<p style="font-size:14px;">"1"朋友，这个好像没有现成的吧，要自己动手去写写的。</p>
							</div>
							<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
							<div class="all_nas_con">
								<div class="all_ans_text">
									<p style="font-size:14px;">2 回复"1"，这个好像没有现成的吧，要自己动手去写写的。</p>
								</div>
								<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
							</div>
						</div>
					</li>
					<li>
						<div class="all_nas_con">
							<div class="all_ans_text">
								<p style="font-size:14px;">"1"朋友，这个好像没有现成的吧，要自己动手去写写的。</p>
							</div>
							<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
							<div class="all_nas_con">
								<div class="all_ans_text">
									<p style="font-size:14px;">2 回复"1"，这个好像没有现成的吧，要自己动手去写写的。</p>
								</div>
								<div class="all_ans_det"><a href="#" class="color_blue">回复</a>|<a href="#" class="color_blue">导学宝</a>|<span>园豆：205</span><a href="#">(菜鸟二级)</a>|<span>2012-02-06 15:55</span></div>
							</div>
						</div>
					</li>
				</ul>
				<script>
					$(function () {
						$("#all_nas_list li:odd").css("background", "#f0fbff")
					})
				</script>
				<div class="ans_edit">
					添加编辑器
				</div>
			</div>
		</div>
	</div>
	<!-- 2级右边 -->
	<div class="fr l2_right">
		<div class="h_list_item">
			<div class="title_blue"><h2>阅读最多</h2></div>
			<ul>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
			</ul>
		</div>
		<div class="h_list_item" style="margin-top:10px;">
			<div class="title_blue"><h2>推荐资讯</h2></div>
			<ul>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
				<li><a href="#">福布斯：Facebook如何花掉100亿美元IPO融资</a></li>
			</ul>
		</div>
		<div class="h_list_item" style="margin-top:10px;">
			<div class="title_blue"><h2>热门标签</h2></div>
			<div class="keywords">
				<a href="#" class="color_blue">sql server</a><a href="#">javascript</a><a href="#" class="color_blue font_b font_size_14">WEB前端</a><a href="#">.net技术</a><br />
				<a href="#" class="color_blue font_b font_size_16">软件工程</a><a href="#">C#</a><a href="#" class="color_blue font_b">网站开发</a><a href="#">CSS</a><br />
				<a href="#"  class="color_blue font_size_16">HTML5</a><a href="#">数据库</a><br />
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
