@{
	ViewBag.Title = "基本信息";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LocationPath{
	<a class="title" href="/">Devtext.com</a> » <a href="/home/personal">个人资料</a> » 基本信息
}
<div class="fl user_left">
	@{Html.RenderAction("LeftNavigtion", "UserNavigation");}
</div>
<div class="fr user_right">
	<h1 class="user_title">
		基本信息</h1>
	<div class="user_tab">
		<ul>
			<li class="now"><a href="/home/personal/index">基本信息</a></li>
			<li class=""><a href="/home/personal/contact">联系方式</a></li>
			<li class=""><a href="/home/personal/skill">技能构成</a></li>
			<li class=""><a href="/home/personal/sign">签名</a></li>
		</ul>
	</div>
	<div class="user_con">
		<div class="fl">
			<div class="user_con_left">
				<table width="100%" class="user_info_table" cellpadding="0" cellspacing="0">
					<tr>
						<td class="tr_title">
							&nbsp;
						</td>
						<td class="tr_content">
							&nbsp;
						</td>
						<td class="tr_see">
							谁可以看到
						</td>
						<td class="ishome">
							显示在首页
						</td>
					</tr>
					<tr>
						<td class="tr_title">
							姓名：
						</td>
						<td class="tr_content">
							<input type="text" class="tb_m" />
						</td>
						<td class="tr_see">
							<select>
								<option value="1">任何人</option>
								<option value="2">仅好友</option>
								<option value="3">保密</option>
							</select>
						</td>
						<td class="ishome">
							<input type="checkbox" checked="checked" />
						</td>
					</tr>
					<tr>
						<td class="tr_title">
							性别：
						</td>
						<td class="tr_content">
							<table class="radio_block" border="0">
								<tr>
									<td>
										<input type="radio" value="1" checked="checked" /><label>男</label>
									</td>
									<td>
										<input type="radio" value="0" /><label>女</label>
									</td>
								</tr>
							</table>
						</td>
						<td class="tr_see">
							<select>
								<option value="1">任何人</option>
								<option value="2">仅好友</option>
								<option value="3">保密</option>
							</select>
						</td>
						<td class="ishome">
							<input type="checkbox" />
						</td>
					</tr>
					<tr>
						<td class="tr_title">
							出生日期：
						</td>
						<td class="tr_content">
							<select name="selectyear" id="year" onchange="show()">
							</select>
							年
							<select name="selectmonth" id="month" onchange="show()">
							</select>
							月
							<select name="selectday" id="day">
							</select>
							日
							<script language="javascript" type="text/javascript">
								loadshow();
							</script>
						</td>
						<td class="tr_see">
							<select>
								<option value="1">任何人</option>
								<option value="2">仅好友</option>
								<option value="3">保密</option>
							</select>
						</td>
						<td class="ishome">
							<input type="checkbox" />
						</td>
					</tr>
					<tr>
						<td class="tr_title">
							家乡：
						</td>
						<td class="tr_content">
							<select id="s1" name="s1">
								<option></option>
							</select>
							-
							<select id="s2" name="s2">
								<option></option>
							</select>
							<script language="javascript" type="text/javascript">								setup();</script>
						</td>
						<td class="tr_see">
							<select>
								<option value="1">任何人</option>
								<option value="2">仅好友</option>
								<option value="3">保密</option>
							</select>
						</td>
						<td class="ishome">
							<input type="checkbox" checked="checked" />
						</td>
					</tr>
					<tr>
						<td class="tr_title">
							现居住地：
						</td>
						<td class="tr_content">
							<select>
								<option></option>
							</select>
							-
							<select id="reside2" name="reside2">
								<option></option>
							</select>
							<script language="javascript" type="text/javascript">resideSetup();</script>
						</td>
						<td class="tr_see">
							<select>
								<option value="1">任何人</option>
								<option value="2">仅好友</option>
								<option value="3">保密</option>
							</select>
						</td>
						<td class="ishome">
							<input type="checkbox" checked="checked" />
						</td>
					</tr>
					<tr>
						<td class="tr_title">
							婚姻：
						</td>
						<td class="tr_content">
							<select>
								<option value="0"></option>
								<option value="1">单身</option>
								<option value="2">热恋中</option>
								<option value="3">订婚</option>
								<option value="4">已婚</option>
								<option value="5">离异</option>
							</select>
						</td>
						<td class="tr_see">
							<select>
								<option value="1">任何人</option>
								<option value="2">仅好友</option>
								<option value="3">保密</option>
							</select>
						</td>
						<td class="ishome">
							<input type="checkbox" />
						</td>
					</tr>
					<tr>
						<td class="tr_title">
							职位：
						</td>
						<td class="tr_content">
							<input type="text" class="tb_m" />
						</td>
						<td class="tr_see">
							<select>
								<option value="1">任何人</option>
								<option value="2">仅好友</option>
								<option value="3">保密</option>
							</select>
						</td>
						<td class="ishome">
							<input type="checkbox" />
						</td>
					</tr>
					<tr>
						<td class="tr_title">
							单位：
						</td>
						<td class="tr_content">
							<input type="text" class="tb_m" />
						</td>
						<td class="tr_see">
							<select>
								<option value="1">任何人</option>
								<option value="2">仅好友</option>
								<option value="3">保密</option>
							</select>
						</td>
						<td class="ishome">
							<input type="checkbox" />
						</td>
					</tr>
					<tr>
						<td class="tr_title">
							工作状况：
						</td>
						<td class="tr_content">
							<select>
								<option value="0"></option>
								<option value="1">学生</option>
								<option value="2">已工作</option>
								<option value="3">待业中</option>
								<option value="4">其它</option>
							</select>
						</td>
						<td class="tr_see">
							<select>
								<option value="1">任何人</option>
								<option value="2">仅好友</option>
								<option value="3">保密</option>
							</select>
						</td>
						<td class="ishome">
							<input type="checkbox" />
						</td>
					</tr>
				</table>
				<p class="row_save">
					<input type="submit" value="保存" class="butn_save" id="butn_save" /><span class="save_tip">保存成功</span></p>
			</div>
		</div>
		<!-- 成功保存提示 -->
		<script>
			$(function () {
				$(".butn_save").click(
                        function () {
                        	$(".save_tip").attr("style", "");
                        	$(this).siblings(".save_tip").show(function () {
                        		$(this).animate({ "opacity": "0" }, 500);
                        	});
                        }
                    )
			})
		</script>
		<!-- 成功保存提示 -->
		<div class="fr user_con_right">
		</div>
	</div>
</div>
<div class="clearfix"></div>
