@{
	ViewBag.Title = "联系我们";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LocationPath{
	<a class="title" href="/">Devtext.com</a> » 联系我们
}
<div class="fl user_left">
	<dl class="user_menu">
		<dd>
			<a href="/site/info">关于本站</a></dd>
		<dd class="now">
			<a href="/site/contactus">联系我们</a></dd>
		<dd>
			<a href="/site/buildlog">开发日志</a></dd>
	</dl>
</div>
<div class="fr user_right">
	<div class="essay_title fl">
		<h1>
			联系我们</h1>
	</div>
	<p>
		手机：还不能透露给你们哦</p>
	<p>
		QQ:44009743</p>
	<p>
		邮箱：info#devtext.com (#别忘记换成@符号)</p>
	<p>
		站长邮箱：weston.fang#devtext.com (#别忘记换成@符号)</p>
</div>
<div class="clearfix">
</div>
