@{
	ViewBag.Title = "关于本站";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LocationPath{
	<a class="title" href="/">Devtext.com</a> » 关于本站
}
<div class="fl user_left">
		<dl class="user_menu">
			<dd class="now"><a href="/site/info">关于本站</a></dd>
			<dd><a href="/site/contactus">联系我们</a></dd>
			<dd><a href="/site/buildlog">开发日志</a></dd>
		</dl>
	</div>
<div class="fr user_right">
	<div class="essay_title fl">
			<h1>关于本站</h1>
		</div>
	<p>
		在工作中经常会遇到一些问题要求助于搜索引擎，然而搜索出的结果中很大一部分被垃圾站占据，没有很多实质性的帮助，所以我建立了这个网站，希望提供切实可行的解决问题的办法。</p>
	<p>
		网站主要面向IT从业人员，特别是程序员，关注互联网、关注软件开发、提供开发技术交流、问答平台，致力于为程序员提供切实可行的解决问题的方案。</p>
	<p>
		网站现在主要是由我个人开发、维护，如果你也感兴趣，也可以加入我们。为了长期的提供服务，网站内有部分广告，也请大家见谅，但实际上一分广告钱也没拿到过，求包养啊。哈哈哈。</p>
	<p>
		网站还处于测试阶段，全由业余时间开发，功能还不完善，我也在抓紧时间中，也请包含，关注我们，谢谢。</p>
</div>
<div class="clearfix"></div>