@{
	ViewBag.Title = "系统登录";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LocationPath{
	<a class="title" href="/">Devtext.com</a> » 系统登录
}
<div class="login_con">
	<div class="fl">
		使用QQ账户登录<br />
		<a href="javascript:openQQ();" title="使用QQ账户登录">
			<img src="/skin/basic/images/Connect_logo_4.png" alt="QQ登录" /></a>
	</div>
	<div class="fr">
		使用新浪微博登录<br />
		<a href="javascript:openSina();" title="使用新浪微博登录">
			<img src="/skin/basic/images/sina32.png" alt="QQ登录" /></a>
	</div>
	<div class="clearfix">
	</div>
</div>
